*.apk
*.ap_
*.dex
*.class
**/bin/
**/obj/
**/gen/
.gradle/
build/
local.properties
**/proguard/
*.log
*.exe
*.cache
*.dll
*.pdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
