obj
bin
bin/Debug/net9.0/GigApp.dll
bin/Debug/net9.0/GigApp.dll
bin/Debug/net9.0/GigApp.pdb
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/GigApp.AssemblyInfoInputs.cache
obj/Debug/net9.0/GigApp.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/GigApp.csproj.FileListAbsolute.txt
obj/Debug/net9.0/GigApp.dll
